.projectsSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.projectsSectionTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.projectsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 0.25rem;
}
