.projectsSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.projectsSectionTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.projectsBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1rem;
}

.projectsBox > :nth-child(3) {
  grid-column: span 2;
}

@media (width < 768px) {
  .projectsBox {
    grid-template-columns: 1fr;
  }

  .projectsBox > :nth-child(3) {
    grid-column: span 1;
  }
}
