.feedbackSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.feedbackTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.feedbackBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.feedbackItem {
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.feedbackItem:nth-child(1) {
  grid-column: span 2;
}

.feedbackItem:nth-child(2),
.feedbackItem:nth-child(3) {
  grid-column: span 1;
}

.feedbackItem:nth-child(4) {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .feedbackBox {
    grid-template-columns: 1fr;
  }

  .feedbackItem:nth-child(1),
  .feedbackItem:nth-child(4) {
    grid-column: span 1;
  }
}
