.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  border: var(--border);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-card);
  min-height: 100%;
}

.projectsName {
  font-weight: 600;
  font-size: 1.8rem;
}

.projectDescription {
  line-height: 1.4;
}

.projectUrls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projectUrl {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  width: 100%;
  gap: 0.5rem;
  border-radius: 7px;
  padding: 0.5rem;
}

.projectUrl:hover {
  background-color: var(--bg-foreground);
  border: 1px solid transparent;
}
