.projectCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid #201f1f;
  padding: 1.5rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: background 0.2s ease;
}

.projectCard:hover {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  background-color: rgba(37, 37, 37, 0.2);
}

.projectImage {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.projectsName {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.projectDescription {
  font-size: 0.75rem;
  line-height: 1.4;
}

.projectUrls {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}
