.selectContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.selectBox {
  color: #f5f5f5;
  padding: 0.52rem 1.0625rem 0.52rem 2.1875rem;
  appearance: none;
  border: 0.0625rem solid #201f1f;
  border-radius: 0.4375rem;
  background: #0b0b0b;
  display: flex;
}

.selectBox:hover {
  cursor: pointer;
  background-color: #0f0f0f;
}

.selectBox:focus {
  outline: 0.0625rem solid transparent;
}

.selectContainer .selectIconContainer {
  width: 3.125rem;
  position: absolute;
  right: 0;
  left: -0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
