.box {
  position: relative;
}

.selectIconContainer {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
}

.selectLanguageButton {
  color: #666;
  border: 0.0625rem solid #201f1f;
  background: transparent;
  color: white;
  padding: 8px 12px 8px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: background 0.2s ease;
}

.selectLanguageButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid transparent;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modalBackdrop.open {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  position: relative;
  background-color: #000;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 18.75rem;
  border: 0.0625rem solid #201f1f;
}

.closeButton {
  position: absolute;
  top: 0.325rem;
  right: 0.625rem;
  cursor: pointer;
  font-size: 32px;
}

.languageButtons {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 24px;
}

.languageButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  color: #666;
  border: 0.0625rem solid #201f1f;
  background: transparent;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: background 0.2s ease;
}

.languageButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.0625rem solid transparent;
}

.languageButton.selected {
  font-weight: bold;
}
