.selectContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.selectBox {
  color: white;
  padding: 0.6rem 2.1875rem 0.6rem 1.0625rem;
  appearance: none;
  border: 0.0625rem solid #201f1f;
  border-radius: 0.4375rem;
  background: #0b0b0b;
  display: flex;
}

.select:hover {
  background-color: #0f0f0f;
}

.select:focus {
  outline: 0.0625rem solid #666;
}

.selectContainer .selectIconContainer {
  width: 50px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
