.heroSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.heroTitle {
  font-size: 2.8rem;
  font-weight: 700;
}

.heroLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroLocationBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
