.heroSection {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.heroDescription {
  font-size: 1rem;
  max-width: 30rem;
}

.heroLocation {
  gap: 0.5rem;
  margin-top: 1rem;
}

.heroLocationBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
