.heroSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textContainer {
  max-width: 80rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.heroSubtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.heroDescription {
  font-size: 1rem;
  max-width: 40rem;
}

.heroLocation {
  gap: 0.5rem;
}

.heroLocationBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
