@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/onest/files/onest-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  :root {
    --background: hsl(210, 30%, 94%);
    --foreground: hsl(220, 15%, 20%);
    --card: hsl(210, 30%, 98%);
    --primary: hsl(210, 25%, 96%);
    --primary-foreground: hsl(212, 24%, 92%);
    --secondary: hsl(200, 50%, 55%);
    --secondary-foreground: hsl(210, 30%, 98%);
    --accent: hsl(200, 60%, 55%);
    --accent-foreground: hsl(200, 30%, 98%);
    --muted: hsl(240, 5%, 35%);
    --muted-foreground: hsl(240, 5%, 60%);
    --border: hsl(210, 20%, 85%);
    --radius: 1rem;
  }

  .dark {
    --background: hsl(223, 14%, 7%);
    --foreground: hsl(210, 20%, 98%);
    --card: hsl(220, 15%, 12%);
    --primary: hsl(220, 15%, 14%);
    --primary-foreground: hsl(220, 15%, 20%);
    --secondary: hsl(200, 60%, 60%);
    --secondary-foreground: hsl(220, 15%, 10%);
    --accent: hsl(200, 60%, 50%);
    --accent-foreground: hsl(240 5% 64.9%);
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 70%);
    --border: hsl(220, 15%, 20%);
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-[0.5rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-gray-500 rounded-md;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Onest Variable", sans-serif;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 text-transparent bg-clip-text;
  }

  .highlighted-text {
    @apply bg-purple-400 px-2 py-0.5 rounded-md text-white;
  }

  .grid-main-container {
    @apply grid grid-rows-[auto_1fr_auto];
  }
}
