@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Manrope Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(@fontsource-variable/manrope/files/manrope-latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #3b82f6;
  --primary-foreground: #f8fafc;
  --secondary: #dbeafe;
  --secondary-foreground: #1e40af84;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #cbd4e0;
  --input: #e2e8f0;
  --ring: #3b82f6;
  --radius: 0.5rem;
  --sans: 'Manrope Variable', sans-serif;
}

.dark {
  --background: #0b0c0f;
  --foreground: #f8fafc;
  --card: #0d0e12;
  --card-foreground: #f8fafc;
  --popover: #0b0c0f;
  --popover-foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #0b0c0f;
  --secondary: #5380c918;
  --secondary-foreground: #3b82f6;
  --muted: #131519;
  --muted-foreground: #94a3b8;
  --accent: #131519;
  --accent-foreground: #f8fafc;
  --destructive: #7f1d1d;
  --destructive-foreground: #ef4444;
  --border: #1f2227;
  --input: #131519;
  --ring: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--sans);
}

@layer base {
  body {
    @apply bg-background text-foreground border-border;
  }

  a {
    @apply p-0;
  }
}

@layer components {
  .btn {
    @apply bg-primary cursor-pointer rounded-xl px-4 py-2 text-center text-sm text-white transition duration-150 ease-in-out hover:scale-[1.02] hover:shadow hover:brightness-110 active:scale-95;
  }

  .btn-flat {
    @apply bg-secondary text-foreground cursor-pointer rounded-xl px-4 py-2 text-center text-sm transition duration-150 ease-in-out hover:scale-[1.02] active:scale-95;
  }

  .btn-outline {
    @apply border-border hover:bg-secondary rounded-xl border bg-transparent px-4 py-2 text-center text-sm transition duration-150 ease-in-out hover:scale-[1.02] hover:border-transparent active:scale-95;
  }

  .badge {
    @apply bg-secondary rounded-md px-3 py-1 text-xs;
  }

  .card {
    @apply border-border bg-card space-y-5 rounded-xl border p-5;
  }
}

.container {
  @apply mx-auto max-w-3xl px-6;
}

.root-layout-grid {
  @apply grid min-h-dvh grid-rows-[auto_1fr_auto];
}
