.aboutBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.aboutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  width: 100%;
  gap: 0.5rem;
  margin-block: 2rem;
  border-radius: 7px;
  padding: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}
