@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #0b0c0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0c0f;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem;
}

@layer {
  .container {
    @apply max-w-xl min-h-lvh mx-auto;
  }
}
