.box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
  padding: 1.25rem;
}

.content {
  border-left: 0.0625rem solid #201f1f;
  padding-left: 2rem;
}

.box::before {
  content: " ";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  right: calc(100% + 1.5rem);
  top: 0;
  background-color: #11a372;
  border: 2px solid #fff;
}

.experienceCompany {
  font-size: 1.6rem;
}
