.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footerTechnologies {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footerTitle {
  margin-bottom: 0.75rem;
}

.footerList {
  display: grid;
  gap: 0.8rem;
}

.footerListItem {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.footerListItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

a + img {
  transition: transform 0.3s ease;
}

a:hover {
  color: #f5f5f5;
}

a:hover + img {
  transform: translateX(0.155rem);
}
