html {
  font-family: "Onest Variable", sans-serif;
  background: #0c0b11;
  color: #f5f5f5;
  letter-spacing: -0.025rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
figure {
  margin: 0;
  padding: 0;
  padding-inline: 1rem;
}

body {
  width: 100vw;
  max-width: 768px;
  padding-block: 4rem;
}

a {
  color: #f5f5f5;
  text-decoration: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
}

p,
span,
li a {
  color: #9d9d9d;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}

span {
  font-size: 0.75rem;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

.fade {
  animation: linear fade both;
  -webkit-animation: linear fade both;
  animation-range: entry 40% cover 30%;
  animation-timeline: view();
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
    scale-webkit-transform: scale;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
    scale-webkit-transform: scale;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }
}
