.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 3rem;
}

.title {
  font-weight: 700;
  font-size: 1.8rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #201f1f;
  border-radius: 0.75rem;
  transition: filter 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
}
