.contactsSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactsTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.contactsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.contactsItem {
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: var(--border-radius);
  transition: background 0.2s ease;
  background-color: var(--bg-card);
}

.contactsItem:hover {
  background-color: var(--bg-foreground);
}

.contactsItem:nth-child(3) {
  grid-column: span 2;
}
