.contactsSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactsTitle {
  font-weight: 700;
  font-size: 1.8rem;
}

.contactsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.contactsItem {
  border: 1px solid #201f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 0.5rem;
  transition: background 0.2s ease;
}

.contactsItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contactsItem:nth-child(3) {
  grid-column: span 2;
}
